/* style.css for Artists Page */

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/*/////////////////////*/

/*/// ARTIST CARDS /// */

/*/////////////////////*/

#artistsPageBody {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    background-image: url(Background/backgroundImage2.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#artistsPageDiv {
    width: 1400px;
    margin: 0px auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.616);
}

#back {
    width: 100px;
    color: whitesmoke;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.horizontal-card {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    background-color: rgba(212, 212, 212, 0.308);
}

.hor-card-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hor-card-images {
    width: 70%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;


    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
}

.hor-card-image-element {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;    

    align-items: center;
    justify-content: center;

    width: 20%;
    
    padding: 15px;
    border-radius: 25px;

    overflow: hidden;
    margin: 10px;
}
