/* navbar.css */

/* import Roboto font */

/* import fonts from fonts.css file in GeneralStyle, or just use this one */

/* @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap); */
/* #navItemsContainer {
    z-index: 100;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.137);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#navLogoContainer {
    width: 20%;
    box-sizing: border-box;
}

#navOptionsContainer {
    width: 80%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.nav-options-container-item {
    padding: 15px;
}

.custom-underline {
    /* UNCOMMENT THIS TO MAKE THE UNDERLINE DRAW MORE TO THE LEFT */
    /* padding-left: 15px; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(253, 253, 253, 0.938);
}

.custom-underline::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.custom-underline:hover::after {
    width: 100%;
} */ */




  
  .flex-menu {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;

  }
  

  .navbar {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(26, 26, 26, 0.911);
    width: 100%;
    z-index: 1000;


  }
  
  .logo-container, .artist-profile {
    padding: 1rem;
  }
  
  #voting-tool-logo {
    width: 60px;
    margin: auto;
  }
  
  @media (min-width: 768px) and (max-width: 1299px) {
    #voting-tool-logo {
      width: 80px;
    }
  }
  
  @media (min-width: 1300px) {
    #voting-tool-logo {
      width: 100px;
    }
  }
  
  #dropdownMenuBtn {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  @media (min-width: 768px) and (max-width: 1299px) {
    .menu-btn {
      display: none;
    }
  }
  
  @media (min-width: 1300px) {
    .menu-btn {
      display: none;
    }
  }
  
  .menu-btn__burger {
    margin-top: 12.5px;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  .menu-btn__burger::before {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  
  .menu-btn__burger::after {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  
  .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
    background: transparent;
  }
  
  .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(17.5px, -17.5px);
            transform: rotate(45deg) translate(17.5px, -17.5px);
  }
  
  .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(17.5px, 17.5px);
            transform: rotate(-45deg) translate(17.5px, 17.5px);
  }
  
  .menu {
    right: 0;
    bottom: 0;
    display: none;
  }
  
  @media (min-width: 768px) and (max-width: 1299px) {
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40%;
    }
  }
  
  @media (min-width: 1300px) {
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40%;
    }
  }
  
  .menu > div a {
    color: white;
    text-decoration: none;
  }
  
  .menu > div a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: whitesmoke;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .menu > div a:hover::after {
    width: 100%;
  }
  
  #dropdownMenu {
    position: relative;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 81.92px;
    z-index: 1000;

  }
  
  @media (min-width: 768px) and (max-width: 1299px) {
    #dropdownMenu {
      display: none;
    }
  }
  
  @media (min-width: 1300px) {
    #dropdownMenu {
      display: none;
    }
  }
  
  .dropdown-menu-item {
    padding: 0.5rem;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #5d5d5d;
    text-align: center;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.911);
  }
  
  .dropdown-menu-item > a {
    color: whitesmoke;
    text-decoration: none;
  }