<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InRoomPreview.Voting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InRoomPreview.Voting</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <div id="navOptionsContainer">
                <div id="home" class="nav-options-container-item">
                    <a href="../Homepage.html" class="custom-underline">Home</a>
                </div>
                <div id="profileDiv" class="nav-options-container-item">
                    <a href="#" id="profileButton" class="custom-underline">Profile</a>
                </div>
                <div id="artists" class="nav-options-container-item">
                    <a href="../Artists Page/Index.html" class="custom-underline">Artists</a>
                </div>
                <div id="joinUsDiv" class="nav-options-container-item">
                    <a href="../Landing Page/index.html" class="custom-underline">Join us</a>
                </div>
                <div id="contact" class="nav-options-container-item">
                    <a href="../Contact Page/index.html" class="custom-underline">Contact</a>
                </div>
                <div id="privacy" class="nav-options-container-item">
                    <a href="../Privacy Page/index.html" class="custom-underline">Privacy</a>
                </div>
                <div id="blog" class="nav-options-container-item">
                    <a href="../Blog Page/index.html" class="custom-underline">Blog</a>
                </div>
                <div id="logOutDiv" class="nav-options-container-item">
                    <a href="#" id="logOutButton" class="custom-underline">Log Out</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="cards">
        <a href="#">
            <div id="Cards">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="users.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>Manage Users</h1>
                            <p>Manage Existing Users And Their Arts</p>
                        </div>
                    </div>
                </div>
        </a>
        <a href="#">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="arts.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Deploy Arts</h1>
                        <p>Review Most Popular Arts And Deploy Them</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InRoomPreview.Voting - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
