html {
    box-sizing: border-box;

}

* {
    box-sizing: inherit;
}

$small-screen: 768px;
$large-screen: 1300px;

@mixin small-screen-size {
    @media  (min-width: #{$small-screen}) and (max-width: #{$large-screen - 1px}) {
        @content;
    }
}

@mixin large-screen-size {
    @media  (min-width: #{$large-screen}) {
        @content;
    }
}

body, *, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: rgb(219, 219, 219);
    color: whitesmoke;
    min-height: 100vh;
}

.flex-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include small-screen-size{
        flex-direction: row;
    }
}
.flex-menu{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.911);
    width: 100%;

}

.logo-container, .artist-profile{
    padding: 1rem;
    // background-color: turquoise;
}

#voting-tool-logo{
    width: 60px;
    margin: auto;
    @include small-screen-size{
        width: 80px;
    }
    @include large-screen-size{
        width: 100px;
    }
}

#dropdownMenuBtn{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    @include small-screen-size{
        display: none;
    }
    @include large-screen-size{
        display: none;
    }
}

.menu-btn__burger{
    margin-top: 12.5px;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before{
    transform: translateY(-8px);
}
.menu-btn__burger::after{
    transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger{
    transform: translateX(-25px);
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(17.5px, -17.5px);
}
.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(17.5px, 17.5px);
}
.menu{
    right: 0;
    bottom: 0;
    display: none;
    @include small-screen-size{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        width: 40%;
    }
    @include large-screen-size{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        width: 40%;
    }
}

.menu > div a{
    color: white;
    text-decoration: none;
}

.menu > div a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: whitesmoke;
    display: block;
    transition: 0.5s;
}

.menu > div a:hover::after{
    width: 100%;
}

#dropdownMenu{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 81.92px;
    @include small-screen-size{
        display: none;
    }
    @include large-screen-size{
        display: none;
    }
} 

.dropdown-menu-item{
    padding: 0.5rem;
    border-width: 1px 0px 0px 0px;
    border-style: solid;  
    border-color: rgb(93, 93, 93);
    text-align: center;
    width: 100%;
    background-color:  rgba(26, 26, 26, 0.911);
}

.dropdown-menu-item > a {
    color: whitesmoke;
    text-decoration: none;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // height: 100px;
    margin-top: 100px;
    @include small-screen-size{
        flex-direction: row;
        width: 100%;
        font-size: 0.9rem;
        height: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    @include large-screen-size{
        flex-direction: row;
        width: 80%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        height: auto;
    }
} 

.card {
    font-weight: 400;
    width: 90%;
    height: 250px;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    color: whitesmoke;
    @include small-screen-size{
        margin: 0 0.4rem;
    }
    @include large-screen-size{
       margin: 0 1rem;
    }
}

.card:hover{
    cursor: pointer;
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 0 100%;
    height: 50px;
}

.card-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.artist-gallery-page {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    // margin: auto;
    margin: 150px auto auto auto;

    @include small-screen-size{
        flex-direction: row;
    }
    @include large-screen-size{
        flex-direction: row;
    }

}

.painting-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    align-items: center;
    overflow: hidden;
    margin: 0.5rem;
    border-radius: 5px;
    @include small-screen-size{
        width: 30%;
    }
    @include large-screen-size{
        // flex-direction: row;
        width: 18%;
        margin: 2rem;

        // justify-content: flex-start;
    }
}

.painting-card-image{
    width: 100%;
    height: 100%;
    @include large-screen-size{
        width: fit-content;
        height: fit-content;
    }
}

.painting-card-image > img{
    max-width: 100%;
    max-height: 100%;
    
    display: block;
    object-fit: contain;

    
}

.painting-card-body{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 90%;
    align-items: center;
    // @include large-screen-size{
    //     height: 100%;
    //     justify-content: space-around;
    //     width: 100%;
    // }

}

.painting-card-text{
    text-align: left;
    width: 100%;
    height: 30px;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.modify-gallery{
    display: block;
    background-color: rgb(87, 87, 87);
    width: 120px;
    margin: 0.5rem;
    height: 30px;
    border-radius: 5px;
    border: none;
}

