html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, *, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../img/robert-keane-rlbG0p_nQOU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.logo-container {
  position: relative;
  width: 100%;
  height: 40%;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .logo-container {
    width: 60%;
    height: 100%;
  }
}

@media (min-width: 1300px) {
  .logo-container {
    width: 60%;
    height: 100%;
  }
}

#voting-tool-logo {
  width: 100%;
  margin: auto;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sign-in-panel {
  width: 100%;
  padding: 0%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 60%;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .sign-in-panel {
    height: 100%;
    width: 40%;
  }
}

@media (min-width: 1300px) {
  .sign-in-panel {
    height: 100%;
    width: 40%;
  }
}

.sign-in-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
  padding: 1rem;
  margin: auto;
  background-color: rgba(32, 32, 32, 0.7);
  border-radius: 15px;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .sign-in-form {
    height: 60%;
    width: 70%;
    padding: 2.5rem;
  }
}

@media (min-width: 1300px) {
  .sign-in-form {
    height: 50%;
    width: 70%;
    padding: 2.5rem;
  }
}

.signin-input, .signin-btn, .signup-btn, .register-link, .text-over-link {
  border-radius: 15px;
  text-align: center;
  border: none;
  height: 35px;
  font-size: 0.85rem;
  width: 90%;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signin-input, .signin-btn, .signup-btn, .register-link, .text-over-link {
    height: 40px;
    font-size: 0.9rem;
  }
}

@media (min-width: 1300px) {
  .signin-input, .signin-btn, .signup-btn, .register-link, .text-over-link {
    height: 50px;
    font-size: 1.2rem;
  }
}

.signin-btn, .signup-btn {
  width: 90%;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signin-btn, .signup-btn {
    width: 70%;
  }
}

@media (min-width: 1300px) {
  .signin-btn, .signup-btn {
    width: 60%;
  }
}

.text-over-link {
  color: #CFB55E;
  height: 5px;
  font-size: 0.9rem;
}

@media (min-width: 1300px) {
  .text-over-link {
    font-size: 1.2rem;
  }
}

.register-link {
  color: white;
  width: 40%;
  height: 20px;
  text-align: center;
  font-size: 0.9rem;
}

@media (min-width: 1300px) {
  .register-link {
    font-size: 1.2rem;
  }
}

.register-link:link {
  text-decoration: none;
}

.register-link:visited {
  text-decoration: none;
}

.register-link:hover {
  text-decoration: none;
}

.register-link:active {
  text-decoration: none;
}

#page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#popup-window {
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 15%;
  top: 15%;
  background-image: -webkit-gradient(linear, left top, right top, from(#1b1b1b), to(#575757));
  background-image: linear-gradient(to right, #1b1b1b, #575757);
  color: #fff;
  border: solid 2px gray;
  border-radius: 12px;
  border: none;
  display: none;
}

@media (min-width: 1300px) {
  #popup-window {
    left: 30%;
    right: 30%;
  }
}

.signup-flex-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signup-flex-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1300px) {
  .signup-flex-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.signup-input {
  background-color: initial;
  border: none;
  border-bottom: 1px solid #CFB55E;
  border-radius: initial;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  width: 50%;
  height: 30px;
  margin: 1rem 0 0 0;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signup-input {
    width: 70%;
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .signup-input {
    width: 70%;
    font-size: 1.1rem;
  }
}

.user, .artist {
  display: inline;
}

.signup-par {
  margin-top: 1rem;
}

.radio {
  font-size: 0.9rem;
  color: #9da1ac;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .radio {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .radio {
    font-size: 1.1rem;
  }
}

.signup-btn {
  width: 50%;
  height: 40px;
  margin-top: 1rem;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signup-btn {
    width: 40%;
    font-size: 0.9rem;
  }
}

@media (min-width: 1300px) {
  .signup-btn {
    width: 40%;
    font-size: 1.1rem;
  }
}

.signup-panel {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signup-panel {
    width: 50%;
  }
}

@media (min-width: 1300px) {
  .signup-panel {
    width: 50%;
    font-size: 1.1rem;
  }
}

.signup-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .signup-auto {
    width: 50%;
  }
}

@media (min-width: 1300px) {
  .signup-auto {
    width: 50%;
    font-size: 1.1rem;
  }
}

.social-media-btn {
  height: 30%;
  width: 100%;
  text-align: center;
  color: #a1a1a1;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

@media (min-width: 768px) and (max-width: 1299px) {
  .social-media-btn {
    height: 100%;
    margin-right: 3rem;
    font-size: 1rem;
  }
}

@media (min-width: 1300px) {
  .social-media-btn {
    height: 100%;
    margin-right: 4rem;
    font-size: 1.1rem;
  }
}

.social-media-logo {
  vertical-align: middle;
  width: 30px;
}
/*# sourceMappingURL=landing-page.css.map */